/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/FrontFilmCard/FrontFilmCard.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.FrontFilmCard_fromBlack__fbMMX {
  --tw-gradient-from: black;
  --tw-gradient-to: transparent;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  height: 100%;
  width: 75%;
  position: absolute;
}

.FrontFilmCard_bgGradientToRight__W_sN_ {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.FrontFilmCard_bgGradientToTop__RchFz {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.FrontFilmCard_bgGradientToLeft__IHZqA {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.FrontFilmCard_bgGradientToBottom__WoaQk {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/UI/NavBar/NavBar.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.NavBar_navLinkActive__MqtOK {
  position: relative;
}

.NavBar_navLinkActive__MqtOK::before {
  content: "";

  position: absolute;
  left: 0px;
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  background-color: rgb(172, 0, 0);
}


